:root{
      --mune-color:#F9FAFC;
}
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    direction: rtl;
}

/* nav  */
nav{
    position: relative;
    width: 100vw;
    padding: 7px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: var(--mune-color,gray);
}
.nav-menu{ 
    display: flex;
    width: 75%;
    justify-content: space-around;
}
.nav-menu li{
    width: 13%;
    list-style: none;
    display: block;
    
}
.nav-menu li::after {
    content: " ";
    width: 4px;
    height: 100vh;
    background-color: black;
    z-index: 2;

}
.nav-menu li a {
    text-decoration: none;
    display: block;
}
.nav-cuntery{
    width:3%;
}
.nav-cuntery-somble{
    width:5%;  
}
.nav-change-langege{
    width: 15%;
    display: flex;
    justify-content: end;
}
/* header */

header {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.log{
    width: 5%;
}
form{width: 90%;}
header input{
    width: 80%;
    height: 40px;
    border-radius: 15px;
    background-color: #EFF2F7;
    border: none;
}
.buy-log{
    width: 5%;
}
/* Main Part  */
.slide{
width: 100%;


}
.slide figure{
 position:relative;
 /* width: 500% */
 display: flex;
 width: 60%;
 border: 40px solid black;
 border-radius: 40px;
  height: 40rem;
 overflow-x: auto;
scroll-snap-type: x mandatory;
 /* width: 5%; */
 margin:0 auto;
 left: 0;
}
.slide figure img{
    width: 100%;
    float: right;
    scroll-snap-align: start;
    scroll-snap-stop:always;
}
 @keyframes slid{
    0%{
        right:0;
    }
    20%{
        right: 0;
    }
    25%{
        right: -100%;
    }
    45%{
        right:-100%;
    }
    50%{
        right:-200;
    }
    70%{
        right:-200;
    }
    75%{
        right:-300;
    }
    95%{
        right:-300;
    }
    100%{
        right:-400;
    }
} 

footer{
    color: white;
    display: grid;
    grid-template-columns: 2fr repeat(3,1fr)  1fr;
    position: relative;
    top:400px;
    width: 100%;
    height: 200px;
    background-color: rgb(22, 21, 21);
    padding:10px;
}
footer form{
    padding: 10px 5px;
    background-color: gray;
    border-radius: 4px;
    /* width: 195px; */
}
footer input{
    padding: 14px 5px;
    display: block;
    width: 100%;
    border-radius: 4px;
    border: none;
}
/* .col1{
    background-color: blue;
    width:220px ;

} */
footer button{
    position:relative ;
    right:80%;
    padding: 8px 13px;
    margin: 4px;
    border-radius:4px;
    /* border: 10px; */
}
