:root{
      --mune-color:#F9FAFC;
}
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    direction: rtl;
}
container{
    width: 90%;
}
/* nav  */
nav{
    position: relative;
    width: 100vw;
    padding: 7px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: var(--mune-color,gray);
}
.nav-menu{ 
    display: flex;
    width: 75%;
    justify-content: space-around;
}
.nav-menu li{
    width: 13%;
    list-style: none;
    display: block;
    
}
.nav-menu li::after {
    content: " ";
    width: 4px;
    height: 100vh;
    background-color: black;
    z-index: 2;

}
.nav-menu li a {
    text-decoration: none;
    display: block;
}
.nav-cuntery{
    width:3%;
}
.nav-cuntery-somble{
    width:5%;  
}
.nav-change-langege{
    width: 15%;
    display: flex;
    justify-content: end;
}
/* header */

header {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.log{
    width: 5%;
}
form{width: 90%;}
header input{
    width: 80%;
    height: 40px;
    border-radius: 15px;
    background-color: #EFF2F7;
    border: none;
}
.buy-log{
    width: 5%;
}
footer{
    position: relative;
    top:400px;
    width: 100%;
    height: 200px;
    background-color: rgb(22, 21, 21);
}