:root{

}
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    direction: rtl;
}
container{
    width: 90%;
}
/* nav  */
nav{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: gray;
}
.nav-menu{ 
    display: flex;
}
.nav-menu li{
    list-style: none;
    display: block;
    width: 75%;
}
.nav-menu li a {
    text-decoration: none;
    display: block;
}
.nav-cuntery{
    width:5%;
}
.nav-cuntery-somble{
    width:5%;  
}
.nav-change-langege{
    width: 15%;
    display: flex;
    justify-content: end;
}
/* header */
.log{
    width: 5%;
}
header {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header input{
    width: 80%;
    height: 40px;
    border-radius: 15px;

}
.buy-log{
    width: 5%;
}
footer{
    width: 100%;
    background-color: rgb(22, 21, 21);
}