:root{
      --mune-color:#F9FAFC;
}
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    direction: rtl;
}

/* nav  */
nav{
    position: relative;
    width: 100vw;
    padding: 7px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: var(--mune-color,gray);
}
.nav-menu{ 
    display: flex;
    width: 75%;
    justify-content: space-around;
}
.nav-menu li{
    width: 13%;
    list-style: none;
    display: block;
    
}
.nav-menu li::after {
    content: " ";
    width: 4px;
    height: 100vh;
    background-color: black;
    z-index: 2;

}
.nav-menu li a {
    text-decoration: none;
    display: block;
}
.nav-cuntery{
    width:3%;
}
.nav-cuntery-somble{
    width:5%;  
}
.nav-change-langege{
    width: 15%;
    display: flex;
    justify-content: end;
}
/* header */

header {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.log{
    width: 5%;
}
form{width: 90%;}
header input{
    width: 80%;
    height: 40px;
    border-radius: 15px;
    background-color: #EFF2F7;
    border: none;
}
.buy-log{
    width: 5%;
}
/* Main Part  */
.slide{
width: 100%;
}
.slide figure{
 position:relative;
 /* width: 500% */
 display: flex;
/* width: 60%; */
 border: 1px solid black;
 /* border-radius: 40px; */
 width: 100%;
  height: 25rem;
 overflow-x: auto;
 overflow-y: hidden;

scroll-snap-type: x mandatory;
scroll-padding: 50px 0 0 0;
gap: 1rem;
-webkit-overflow-scrolling: touch; 
 /* width: 5%; */
 margin:0 auto;
 left: 0;
}
.slide figure img{
    width: 100%;
    height: 60rem;
    /* background-size: cover; */
    position: relative;
    width: max-content;
    /* float: right; */
    scroll-snap-align: start;
    scroll-snap-stop:always;
}
/* Offers Section */
.offers{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.offers img{

}
.offers > card-1 ,card-2, card-3 {
    background-color: blueviolet;
    padding: 10px;
    display: flex;
    direction: column;
    align-items: center;
    justify-content: center;
}
.offers p{
    text-align: center;
}
.time-container{
    padding: 10px;
    /* padding-right: 500px; */
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}
.offers span{
    text-align: center;
    font-size: 1rem;
    background-color:white;
    color: black;
}
 /* @keyframes slid{
    0%{
        right:0;
    }
    20%{
        right: 0;
    }
    25%{
        right: -100%;
    }
    45%{
        right:-100%;
    }
    50%{
        right:-200;
    }
    70%{
        right:-200;
    }
    75%{
        right:-300;
    }
    95%{
        right:-300;
    }
    100%{
        right:-400;
    }
}  */
/* Catgers Section */
/* .books{
    display: flex;
} */
.catgers{
    width: 100%;
    }
    .catgers .books{
     position:relative;
     /* width: 500% */
     display: flex;
    /* width: 60%; */
     border: 1px solid black;
     /* border-radius: 40px; */
     width: 100%;
      /* height: 25rem; */
     overflow-x: auto;
     overflow-y: hidden;
    
    scroll-snap-type: x mandatory;
    scroll-padding: 50px 0 0 0;
    gap: 1rem;
    -webkit-overflow-scrolling: touch; 
     /* width: 5%; */
     margin:0 auto;
     left: 0;
    }
    .catgers .books div{
        width: 100%;
        /* height: 60rem; */
        /* background-size: cover; */
        position: relative;
        width: max-content;
        /* float: right; */
        scroll-snap-align: start;
        scroll-snap-stop:always;
    }

/* Footer Section  */
.footer-1{
    color: white;
    display: grid;
    grid-template-columns: 2fr repeat(3,1fr)  1fr;
    grid-template-rows: 1fr auto 1fr 1fr;
    position: relative;
    top:400px;
    width: 100%;
    height: 200px;
    background-color: rgb(22, 21, 21);
    padding:40px;
}
.footer-1 form{
    padding: 10px 5px;
    background-color: gray;
    border-radius: 4px;
    /* width: 195px; */
}
.footer-1 input{
    padding: 14px 5px;
    display: block;
    width: 100%;
    border-radius: 4px;
    border: none;
}
/* .col1{
    background-color: blue;
    width:220px ;

} */
.footer-1 button{
    position:relative ;
    right:80%;
    padding: 8px 13px;
    margin: 4px;
    border-radius:4px;
    /* border: 10px; */
}
.footer-2{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: lightgray;
    top:400px;
}
/* login and regest section */
/* .overlay{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(97, 96, 96, 0.6);
} */


.login-regest {
    position: fixed;
     left: 0;
     right: 0;
     top:0;  
    width: 100vw;
    height: 100vh;

    background-color: rgba(97, 96, 96, 0.6);
    /* ------------ */
    
    /* width:500px; */
    /* background-color: rgba(97, 96, 96, 0.6); */
}
.login-regest  .container{
    margin-left:auto;
    margin-right:auto;
    /* position: fixed; */
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    width:400px;
    /* max-width: 100%; */
}
.login-regest  .header{
    /* background-color: #f7f7f7; */
    border-bottom:  1px solid #f0f0f0;
    padding: 20px 80px;
    /* text-align: center; */
}
.login-regest  .header h2{
    margin:0;
}
.login-regest  .form{
    padding:30px 40px;
}
.login-regest  .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.login-regest  .form-control input{
    border: 2px solid #f0f0f0;
    border-radius:4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 80%;
    background-color: #EFF2F7;
}

.form button{
    background-color: #d4070e;
    border: 2px solid var(--main-color);
    box-shadow: 2px 2px 2px 1px grey;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding:10px;
    font-family: inherit;
    width: 100%;
}
.resgest{
    /* margin-left:auto;
    margin-right:auto;
    width:500px; */
}
.resgest p {
text-align: center;
}
.resgest .creat{
    margin:10px  auto 30px ;
    width:250px;
    padding: 10px;
    background-color: white;
    /* border: none; */
    box-shadow: 2px 2px 2px 1px grey;
    border-radius: 4px;
}